body{
    font-family: Arial, Helvetica, sans-serif;
}
.player{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.wrapper{
    border: 1.5px solid transparent;
    padding: 30px;
    border-radius: 25px;
    box-shadow: darkgray 0px 20px 40px; 
}
.details{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.track-art{
    margin: 30px;
    height: 300px;
    width: 300px;
    border: 2.5px solid #fff;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    -moz-box-shadow: 0px 7px 6px #ccc;
    -webkit-border-shadow: 0px 7px 6px #ccc; 
    box-shadow: 0px 7px 6px #ccc; ;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
}
.now-playing{
    font-size: 15px;
}
.trackname{
    font-size: 35px;
}
.trackartist{
    margin-top: 5px;
    font-size: 19px;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px ;
}
.active{
    color: black;
}
.random-track,
.prev-track,
.playpause-track,
.next-track,
.repeat-track{
    padding: 28px ;
    opacity: 1.0;
    transition: opacity .25s;
}
.random-track:hover,
.prev-track:hover,
.playpause-track:hover,
.next-track:hover,
.repeat-track:hover{
    opacity: 1.2s;
}
.slidercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.seekslider,
.volume{
    height: 5px;
    background: #83a9ff;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.seekslider::-webkit-slider-thumb,
.volume::-webkit-slider-thumb{
   
    width: 20px;
    height: 20px;
    background: white;
    border: 2.5px solid #3774ff;
    cursor: pointer;
    border-radius: 100%;
}
.seekslider:hover,
.volume:hover{
    opacity: 1.0;
}
.seekslider{
    width: 75%;
}
.volume{
    width: 30%;
    padding: 10px;
}
.currenttime,
.totalduration{
    padding: 10px;
}
i.fa-volume-low,
i.fa-volume-high{
    padding: 10px;
}
i,
i.fa-circle-play,
i.fa-circle-pause,
i.fa-backward,
i.fa-forward{
    cursor: pointer;
}
.randomActive{
    color: black;
}
.rotate{
    animation: rotation 8s infinite linear;
}
@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
.loader{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader .stroke{
    background: #f1f1f1;
    height: 150%;
    width: 10px;
    border-radius: 50px;
    margin: 0px 8px;
    animation: animate 1.5s linear infinite;
}
@keyframes animate{
    50%{
        height: 20%;
        background: #4286f4;
    }
    100%{
        height: 100%;
    }
}
.stroke:nth-child(1){
    animation-delay: 0s;
}
.stroke:nth-child(2){
    animation-delay: 0.4s;
}
.stroke:nth-child(3){
    animation-delay: 0.8s;
}
.stroke:nth-child(4){
    animation-delay: 1.2s;
}
.stroke:nth-child(5){
    animation-delay: 0.8s;
}
.stroke:nth-child(6){
    animation-delay: 0.4s;
}
.stroke:nth-child(7){
    animation-delay: 0s;
}